.header {
  position: fixed;
  left: 0;
  top: 0;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  padding: var(--space1x) 1vw; 
  background-color: var(--green-dark-green);
  z-index: 10;
}


.header__menu.btn {
  display: none;
}

.header__logo {
  height: 80px;
  width: 80px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.header__name  {
  color: var(--grey-blanc);
  font-size: var(--tt-h3);
  margin-right: var(--space2x);
  font-family: var(--font-sans-serif-DM_Sans);
}

.header__translate-btn {
  display: inline;
  align-items: right;
  gap: var(--space1x);
  padding-right: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: var(--space1x); 
}
