.card {
    padding-top: 1.25rem;
    background-color: var(--grey-light-gray-1);
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    text-align: left;
    position: relative; 
}

.card__white {
    padding-top: 1.25rem;
    background-color: var(--grey-white);
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    text-align: left;
    position: relative; 
}

.card__content {
    padding: 0 20px;
}

.card__title {
    font-size: var(--tt-h3);
    font-family: var(--font-sans-serif-Poppins);
    font-weight: 500;
    margin-bottom: 10px;
}

.card__text {
    font-size: var(--tt-b1);
    font-family: var(--font-sans-serif-OpenSans);
    margin-bottom: 30px;
    line-height: 1.4;
}

.card__text2 {
    font-size: var(--tt-b2);
    font-family: var(--font-sans-serif-OpenSans);
    margin-bottom: 30px;
    line-height: 1.4;
}

.card__image-container {
    position: relative; 
}

.card__link {
    color: var(--grey-black);
}

.card__image {
    width: 100%;
    height: auto;
    display: block; 
}

.card__button {
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: -60px;
    left: 75%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Mulish);
    font-weight: 700;
    color: var(--grey-white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: var(--green-dark-green);
}

.card__button2 {
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: -60px;
    left: 75%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Mulish);
    font-weight: 700;
    color: var(--grey-black);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: var(--grey-white);
}

.new-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin: 0 1.25rem;
}

.new-card__container {
    flex: 1 1 45%; 
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; 
    min-height: 350px; 
}

.new-card__content {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9); 
    padding: 0.625rem;
}

.new-card__title {
    font-size: var(--tt-proj);
    font-family: var(--font-sans-serif-Poppins);
    font-weight: 500;
    margin-bottom: 5px;
}

.new-card__author {
    font-size: var(--tt-b2);
    font-family: var(--font-sans-serif-OpenSans);
    margin-bottom: 10px;  
    color: var(--grey-dark); 
}

.new-card__image {
    width: 100%;
    height: auto;
    display: block;
}

.new-card__button {
    position: absolute;
    text-align: center;
    bottom: -2rem; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Mulish);
    font-weight: 700;
    color: var(--grey-white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: var(--green-dark-green);
}

.card__map-container {
    position: relative;
    padding-bottom: 60%; 
    height: 15rem;
    overflow: hidden;
    border-radius: 10px;
}

.card__map-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 0;
    border-radius: 10px;
}