.card {
    padding-top: 1.25rem;
    background-color: var(--grey-light-gray-1);
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    text-align: left;
    position: relative; /* Ajout pour le positionnement absolu du bouton */
}

.card__white {
    padding-top: 1.25rem;
    background-color: var(--grey-white);
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    text-align: left;
    position: relative; /* Ajout pour le positionnement absolu du bouton */
}

.card__content {
    padding: 0 20px;
}

.card__title {
    font-size: var(--tt-h3);
    font-family: var(--font-sans-serif-Poppins);
    font-weight: 500;
    margin-bottom: 10px;
}

.card__text {
    font-size: var(--tt-b1);
    font-family: var(--font-sans-serif-OpenSans);
    margin-bottom: 30px;
    line-height: 1.4;
}

.card__text2 {
    font-size: var(--tt-b2);
    font-family: var(--font-sans-serif-OpenSans);
    margin-bottom: 30px;
    line-height: 1.4;
}

.card__image-container {
    position: relative; /* Ajout pour le positionnement absolu du bouton */
}

.card__link{
    color: var(--grey-black);
}
.card__image {
    width: 100%;
    height: auto;
    display: block; /* Assure que l'image prend toute la largeur disponible */
}

.card__button {
    position: absolute; 
    text-align: center;
    bottom: 20px; 
    right: -60px;
    left: 75%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Mulish);
    font-weight: 700;
    color: var(--grey-white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: var(--green-dark-green);
}

.card__button2 {
    position: absolute; 
    text-align: center;
    bottom: 20px; 
    right: -60px;
    left: 75%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Mulish);
    font-weight: 700;
    color: var(--grey-black);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: var(--grey-white);
}
