.hero {
    background-image: url(../../../assets/img/image_hero_background.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 62vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: var(--grey-white); 
    text-align: center; 
    padding: 1rem; 
}

.hero__title {
    font-size: var(--tt-h1);
    text-align: right;
    font-family: var(--font-serif-RobotoSlab);
    margin: 0;
}

.hero__content {
    position: absolute;
    bottom: 18rem; 
    left: 0;
    text-align: center;
}

.hero__text {
    text-align: left;
    font-size: var(--tt-btn);
    font-family: var(--font-sans-serif-Roboto);
    color: var(--grey-gray-1);
    padding-left: 1rem;
    margin: 0;
}

@media (max-width: 380px) {
    .hero__text {
        font-size: var(--tt-stu); 
        padding-left: 0.5rem;   
    }
}