.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--grey-white);
    color: var(--grey-black);
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centre les éléments horizontalement */
    padding: 10rem 2rem 2rem;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--space3x);
}

.menu__link {
    color: var(--grey_black);
    text-decoration: none;
    font-size: var(--tt-h3);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 15px;
    font-family: "Open Sans";
    
}

.menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    height: 36px;
    width: 4px;
}

.menu__link--silent {
    color: var(--grey-black);
    font-size: var(--tt-b2);
}

.menu__list {
    padding: 1rem 0;
}

.menu__item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--grey-white);
    width: 100%;
}

.menu__terms {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center; /* Centre les éléments enfants horizontalement */
    align-items: center;
    position: relative;
    margin-bottom: 15rem;
    margin-left: 0; /* Réinitialise la marge gauche */
}

.menu__terms::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0.5rem;
    width: 100%;
    border-top: 2px solid var(--grey-black);
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--grey-black);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 110;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--grey-black);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--grey-white);
    transition: all 0.65s ease-in-out;
}

.menu-btn__bar {
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn__bar::before {
    top: -11px;
}

.menu-btn__bar::after {
    top: 11px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar {
    background-color: var(--grey-black);
    transform: rotate(495deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before {
    top: 0;
    transform: rotate(630deg);
    background-color: var(--grey-black);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    top: 0;
    transform: rotate(-630deg);
    background-color: var(--grey-black);
}

.menu__shape {
    position: absolute;
    pointer-events: none;
}

.menu__shape--top {
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../../../assets/img/top_part_menu.webp');
    background-size: cover;
    background-position: center;
}

.menu__shape--bottom {
    bottom: -50px;
    right: 0;
    width: 100%;
    height: 250px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../../../assets/img/bottom_part_menu.webp');
    background-size: cover;
    background-position: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.menu__logo {
    position: absolute;
    bottom: 5.5rem;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    height: 80px;
    width: 80px;
    background-image: url('../assets/icons/Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 390px) {
    .menu__link {
        font-size: 1rem; 
        font-family: var(--font-sans-serif-OpenSans);
    }
}

@media (max-width: 390px) {
    .menu__link--silent {
        font-size: 0.7rem; 
        padding: 0;
        font-family: var(--font-sans-serif-OpenSans);
    }
}

@media (max-width: 390px) {
    .menu__shape--top  {
        height: 100px; 
    }
}
@media (max-width: 390px) {
    .menu__shape--bottom  {
        height: 100px; 
    }
}