.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--grey-white);
    color: var(--grey-black);
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 6.25rem 0.5rem 2rem;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--space3x);
}

.menu__link {
    color: var(--grey_black);
    text-decoration: none;
    font-size: var(--tt-h3);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 15px;
    font-family: "Open Sans";
    
}

.menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    height: 36px;
    width: 4px;
}

.menu__link--silent {
    color: var(--grey-black);
    font-size: var(--tt-b2);
}

.menu__list {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.menu__item {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--grey-white);
    width: 100%;
}

.menu__terms {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 16rem;
    margin-left: 0; 
}

.menu__terms li:last-child {
    display: inline-flex;
    width: 100%; 
    text-align: center; 
    justify-content: center;
    margin-top: 0.5rem;
    margin-top: -0.25rem; 
}

.menu__terms::before {
    content: "";
    position: absolute;
    top: -2rem;
    width: 100%;
    border-top: 2px solid var(--grey-black);
    margin-top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--grey-black);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 110;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--grey-black);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--grey-white);
    transition: all 0.65s ease-in-out;
}

.menu-btn__bar {
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn__bar::before {
    top: -11px;
}

.menu-btn__bar::after {
    top: 11px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar {
    background-color: var(--grey-black);
    transform: rotate(495deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before {
    top: 0;
    transform: rotate(630deg);
    background-color: var(--grey-black);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    top: 0;
    transform: rotate(-630deg);
    background-color: var(--grey-black);
}

.menu__shape {
    position: absolute;
    pointer-events: none;
}

.menu__shape--top {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px; 
    background-image: url('../../../assets/img/top_part_menu.webp');
    background-size: cover;
    background-position: center;
}

.menu__shape--bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 110%;
    height: 100px; 
    background-image: url('../../../assets/img/bottom_part_menu2.webp');
    background-size: cover;
    background-position: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.menu__logo {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translatex(-50%);
    z-index: 10;
    height: 45px;
    width: 45px;
    background-image: url('../../../assets/icons/Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: 400px) {
    .menu__link {
        font-size: 1.25rem; 
        font-family: var(--font-sans-serif-OpenSans);
    }
}

@media (max-width: 400px) {
    .menu__link--silent {
        font-size: 1rem; 
        padding: 0;
        font-family: var(--font-sans-serif-OpenSans);
    }
}
